body {
    --pb-splash-image: url(../images/splash.png);
    --pb-splash-image-size: 1200px auto;
    --pb-header-background-image: none;
    --pb-drawer-background-color: var(--pb-color-inverse);
    --pb-menubar-background-color: #67b3da;
    --pb-menubar-background-image: none;
    --pb-menubar-color: var(--pb-color-inverse);
    --pb-toolbar-background-color: #d1dae0;
    --pb-toolbar-background-image: none;
    --pb-toolbar-color: var(--pb-color-primary);
    font: var(--pb-base-font);
    color: var(--pb-color-primary);
    margin: 0;
}

*:focus {
    outline: none;
}

.menubar {
    height: 100px;
    justify-content: space-between;
    background-image: var(--pb-menubar-background-image);
    background-color: var(--pb-menubar-background-color);
    color: var(--pb-menubar-color);
    --pb-search-suggestions-color: var(--pb-color-primary);
    --pb-search-suggestions-background: white;
}

.menubar .logo {
    margin: 0 0 0 0;
    height: 100%;
}

.logo img {
    width: auto;
    height: 96px;
    cursor: pointer;
    padding: 4px 0;
    background-color: white;
}

.round {
    overflow: hidden;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.4);
}

.round img { width: 160px; height: 160px;}

.version {
    text-align: right;
    font-size: 0.85em;
    padding: 1em;
    color: var(--pb-color-lighter);
}

.footer img {
    height: 40px;
    width: auto;
    background-size: 100% 100%;
    cursor: pointer;
}